*{
    margin:0;
    padding:0;
    background-color: #DCDCDC;
}
.MainContainer{
display:flex;
flex-direction:column;
width:100%;
}
.intro{
background-color: transparent;
color: white;
font-family: Georgia, serif;
font-weight: 500;
font-size: 20px;
margin:auto;
}
.HeaderContainer{
text-align:center;
width:35%;
margin:0 auto;
padding:50px;
position:relative;
height:auto;
margin-top: 30px;
font-family: Georgia, serif;
font-weight: 400;
font-size: 20px;
}
.HeaderInformation{
color:#202a44;
display: flex;
flex-direction: row;
justify-content:space-evenly;
gap: 90px;
}
.Header-location{
flex:1;
display: flex;
flex-direction: row;
justify-content:space-evenly;
}
.Header-contacts{
flex:1;
display: flex;
flex-direction: row;
justify-content:space-evenly;
}
.header-location-photo{
margin:auto;
width:35px;
height:35px;
}
.header-contacts-photo{
margin:auto;
width:35px;
height:35px;
}
.button2:hover{
border-color: #2196F3;
color: dodgerblue;
}
.button:hover{
border-color: #2196F3;
color: dodgerblue;
}
.court-photo-1{
width:100%;
opacity: 0.9;
border: 1px solid black;
border-style: solid none;
}
.court-photo-2{
width:100%;
opacity: 0.8;
border: 1px solid black;
border-style: solid none;
}
.gradient-section{
width:100%;
background: linear-gradient(#DCDCDC, white);
}
.LawyerInformation{
background-color: transparent;
text-align:center;
height:400px;
width:50%;
display:flex;
justify-content:space-evenly;
flex-direction:row;
margin:auto;
padding:30px;
}
.lawyer-photo{
border: 1px solid #282828;
margin:auto;
height:300px;
width:250px;
}
.Lawyer-Information{
background-color: transparent;
margin:auto;
display:flex;
justify-content:space-evenly;
flex-direction:column;
gap:20px;
}
.lawyer-label{
background-color: transparent;
font-family: Georgia, serif;
font-weight: 600;
font-size: 25px;
color:#202a44;
}
.lawyer-desc{
background-color: transparent;
color:#202a44;
padding:20px;
font-family: Georgia, serif;
font-weight: 500;
font-size: 22px;
}
.ServicesBox{
padding:70px;
background-color: transparent;
text-align:center;
display:flex;
flex-direction:column;
gap:30px;
}
.services-intro{
background-color: transparent;
color: #202a44;
font-family: Georgia, serif;
font-weight: 600;
font-size: 25px;
}
.boxes-container{
background-color: transparent;
margin:auto;
width:50%;
display:flex;
flex-direction:row;
flex-wrap:wrap;
gap:20px;
font-family: Georgia, serif;
font-weight: 400;
font-size: 18px;
}
.box-item{
flex:1;
padding:50px;
border: 1px solid #202a44;
}
.box-item:hover span{
display:none;
}
.box-item:hover:before {
content: "Here is located all the information about this type of cases";
}
.box-item:hover{
border-color: #2196F3;
}
.steps-container{
padding-top:50px;
padding-bottom:50px;
background-color: white;
text-align:center;
width:100%;
margin:auto;
display:flex;
flex-direction:column;
gap:30px;
}
.steps-photo{
margin:auto;
width:70%;
}
.form{
padding:50px;
width:40%;
margin:auto;
height:600px;
display:flex;
flex-direction:row;
}
.form-desc{
text-align:center;
border: 1px solid #202a44;
flex:1;
padding:30px;
display:flex;
flex-direction:column;
gap:90px;
background-color:#FFFFFF;
}
.desc-info{
font-family: Georgia, serif;
font-weight: 900;
font-size: 18px;
background-color:#FFFFFF;
}
.desc-contacts{
color:#202a44;
font-family: Georgia, serif;
font-weight: 500;
font-size: 20px;
background-color: transparent;
}
.form-input{
border:1px solid #202a44;
padding:30px;
flex:1;
display:flex;
flex-direction:column;
gap:20px;
}
.label-input{
border: 1px solid black;
height:6%;
font-family: Georgia, serif;
font-weight: 400;
font-size: 18px;
}
.text-input{
border: 1px solid black;
height:30%;
resize:none;
font-family: Georgia, serif;
font-weight: 400;
font-size: 18px;
}
.Footer{
display:flex;
flex-direction:row;
width:100%;
height:200px;
background-color:#303030;
}
.Starter{
text-align:center;
display:flex;
flex-direction: row;
width:100%;
height:100px;
background-color:#303030;
}
.footer-label{
background-color: transparent;
margin:auto;
display:flex;
flex-direction: column;
gap:20px;
}
.footer-info{
background-color: transparent;
margin:auto;
display:flex;
flex-direction: column;
gap:20px;
}
.footer-text{
background-color: transparent;
color: white;
font-family: Georgia, serif;
font-weight: 500;
font-size: 16px;
}
.button{
padding: 14px 40px;
border: 1px solid #202a44;
border-radius: 10px;
text-align: center;
font-size: 16px;
background-color: transparent;
}
.form-desc-phones{
display:flex;
flex-direction:column;
background-color:transparent;
gap:20px;
}
.logo{
width:150px;
height:150px;
}