<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="main-css.css">
</head>
<body>
    <div class="Header">
        <h5>Lawyer Odessa</h5>

        <div class="Header-info">

            <div class="Header-location">
                <img src="/images/location.png" alt="location" style="width:25px;height=25px;" class="header-location-photo">
                <h5>city: Odessa, street: RandomStreet64, 3-A</h5>
            </div>

            <div class="Header-contacts">
                <img src="/images/phone.png" alt="phone" style="width:25px;height=25px;" class="header-contacts-photo">
                <h5>+380987654321</h5>
            </div>

        </div>
    </div>
</body>
</html>